# Dependências (O almoxarifado gigante)
node_modules/

# Cache do Next.js (Os arquivos temporários que mudam toda hora)
.next/
out/

# Variáveis de ambiente (Segredos, senhas e chaves de API)
.env*.local

# Arquivos de log e erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pastas de sistema (Windows e Mac)
.DS_Store
Thumbs.db